.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__container {
  background-color: beige;
  border-radius: 15px;
  box-shadow: 15px 15px 15px rgba(255, 255, 255, 0.5);
}

.login__container h1 {
  margin-bottom: 1.5rem;
  color: #0d3359;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.form__layout {
  width: 75%;
  margin-bottom: 1rem;
}

.error {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  border: 1px solid firebrick;
  border-radius: 5px;
}

form button {
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-color: rgb(14, 51, 87);
  border: 3px solid rgb(55, 190, 232);
  color: rgb(55, 190, 232);
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

form button:disabled {
  border-color: darkgray;
  color: darkgray;
  background-color: #0d3359b3;
  cursor: not-allowed;
}

.persistCheck {
  font-size: 0.8rem;
  color: #0d3359;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.persistCheck input {
  margin-right: 10px;
}

a,
a:visited {
  text-decoration: underline;
}
