@import '../../sass/styles/';

.landing-page-wrapper {
    position: relative;
    overflow: hidden;
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-image: url(../../../public/assets/pictures/landing-page.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(-10deg);
    opacity: 0.5;
    z-index: -1; /* Ensure it's behind other content */
}

.landing-page {
    width: 100%;
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 1vh;
}

.landing-page__banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 800;

    h1 {
        display: inline-block;
        color: $thirnary-color-main;
        letter-spacing: 3px;
        margin-bottom: 0;
    }
}

.landing-page__banner__signin {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.register-link {
    font-size: x-large;
}

.landing-page__container {
    text-align: center;
    border-radius: 15px;
    padding: 2rem;
    background-color: rgb(57, 62, 70, 0.6);
    // opacity: 0.3;
    box-shadow: (0, 0, 0, 0.1);

    h2 {
        color: $thirnary-color-dark;
        letter-spacing: 2px;
        margin-bottom: 0.5rem;
    }

    p {
        font-weight: 650;
        letter-spacing: 0.5px;
        margin-bottom: 0.7rem;
    }
}
