@import '../../sass/styles/';

.container__profile {
    background-color: $paper-color;
    border-radius: 15px;
    box-shadow: 15px 15px 15px $paper-color-shadow;
    height: 10vh;
}

.profile__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-form__container {
    width: 70%;
}

.profile-form__wrapper {
    width: 100%;
}

.profile-form__layout {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.profile-form__layout-split50-50 {
    width: 49%;
}

.profile-form__layout-split75 {
    width: 74%;
}

.profile-form__layout-split25 {
    width: 25%;
}

.image__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.button-margin {
    margin-top: 1.5rem;
}
