@import '../../sass/styles/';
@import '../../sass/shared/';

.container__profile {
    @include paper;
}

.profile__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.button-margin {
    margin-top: 1.5rem;
}
