@import '../../../sass/styles/';

.movieGenre {
    border-radius: 10px;
    border: 1px solid $thirnary-color-main;
    padding: 0.5rem;
    color: $thirnary-color-dark;
    margin-right: 0.5rem;
    font-weight: 600;
}
