@import '../../sass/styles/';

.card {
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card .poster {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.card .poster::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, $thirnary-color-main 50%, transparent);
    transition: 0.5s;
    z-index: 1;
    bottom: -100%;
}

.card:hover .poster::before {
    bottom: -50%;
}

.card .details {
    position: absolute;
    width: 100%;
    max-width: 300px;
    bottom: -100%;
    z-index: 2;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

.card .details .title {
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
    padding-left: 0.5rem;
    color: $quaternary-color-light;
    margin-bottom: 0.25rem;
}

.card .details .ratings {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    padding: 0 0.3rem;
}

.card .details .ratings .star {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.75rem;
    color: $quaternary-color-main;

    .star-icon {
        font-size: 1.5rem;
        margin-right: 5px;
        color: orange;
    }
}

.card:hover .details {
    bottom: 3%;
}

.card .details {
    bottom: -100%;
}
.card:hover .poster img {
    filter: blur(3px);
}
