@import '../../sass/styles/';

.movie__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.movie__header__title {
    h1 {
        color: $primary-color-main;
        margin-bottom: 0;
    }

    p {
        color: $secondary-color-light;
    }
}

.movie__header__title-original-tile {
    margin-bottom: 1rem;
}

.movie__header__note {
    h6 {
        color: $secondary-color-light;
        font-size: 1rem;
        text-transform: uppercase;
    }

    div {
        display: flex;
        align-items: center;

        .star-icon {
            font-size: 1.5rem;
            margin-right: 5px;
            color: orange;
        }

        span {
            margin-left: 3px;
            font-size: 1rem;
            margin-right: 1rem;
        }
    }

    .like-icon: hover {
        cursor: pointer;
    }
}
