@import '../../sass/styles/';

.container {
    background-color: $background-color;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $thirnary-color-main;

    .title {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-left: 3rem;

        @media screen and (max-width: 767px) {
            width: 100%;
            margin-left: 0;
        }
    }

    h1 {
        display: inline-block;
        color: $thirnary-color-dark;
        letter-spacing: 3px;
        margin-bottom: 0;
    }

    .title-link {
        text-decoration: none;
    }

    .menu {
        margin-right: 3rem;
        flex-grow: 0.5;
    }
}

.menu__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;

    a,
    a:visited {
        display: inline-block;
        color: $text-color-light;
        text-decoration: none;
    }

    a:hover {
        color: $thirnary-color-main;
        transform: scale(1.1);
        transition: 0.5s ease;
    }
}

.menu__container__not-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.container-xs {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 99;
    background-color: $background-color;
    height: 10vh;
    border-top: 3px solid $thirnary-color-main;
}

.search_button {
    color: $thirnary-color-main;
    cursor: pointer;

    &:hover {
        color: $thirnary-color-dark;
        transform: scale(1.1);
        transition: 0.5s ease;
    }
}

.link__xs {
    a,
    a:visited {
        display: inline-block;
        color: $thirnary-color-main;
        text-decoration: none;
    }

    a:hover {
        color: $text-color-light;
        transition: color 0.3s ease;
    }

    .logout {
        color: $text-color-light;
    }
}
